/* Define the body style */
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  /* Set the background to a linear gradient */
  background: linear-gradient(to right, #8b5e3c, #f5f5dc);
  /* Set the font family */
  font-family: sans-serif;
  /* Set the background color */
  background-color: #f0e68c;
  width: 100%;
  overflow-x: hidden;
}

/* Define the header style */
header {
  /* Set the background color to lightbrown */
  background-color: lightbrown;
  /* Set the text color to white */
  color: white;
  /* Center the text */
  text-align: center;
  /* Add some padding to the top and bottom */
  padding: 30px 0;
}

/* Define the header h1 style */
header h1 {
  /* Set the font size */
  font-size: 50px;
  /* Add some margin at the bottom */
  margin-bottom: 10px;
  color: #e9d67a;
  font-weight: bold;
  margin-top: 30px;
}

/* Define the header p style */
header p {
  /* Set the font size */
  font-size: 20px;
  /* Add some margin at the bottom */
  margin-bottom: 20px;
  margin-top: 30px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

/* Define the header nav style */
header nav {
  /* Display the nav as an inline block */
  display: inline-block;
  /* Add some margin at the bottom */
  margin-bottom: 20px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

/* Define the header nav a style */
header nav a {
  /* Set the text color to white */
  color: white;
  /* Add some margin to the right */
  margin-right: 20px;
  /* Remove the text decoration */
  text-decoration: none;
  /* Set the font size */
  font-size: 25px;
}
header nav a:hover,header nav a:focus {
  text-decoration: none;
}

/* Define the fadeIn animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Define the media query for devices with a minimum width of 768px */
@media (min-width: 768px) {
  /* Apply the animation delay to the thumbnail class */
  .thumbnail {
    animation-delay: 0.5s;
  }
}

/* Define the container style */
.container {
  /* Set the maximum width */
  max-width: 1140px;
  /* Center the container */
  margin: 0 auto;
  /* Add some padding to the top and bottom */
  padding: 50px 0;
}

/* Define the thumbnail style */
.thumbnail {
  /* Center the text */
  text-align: center;
  /* Start with an opacity of 0 */
  opacity: 0;
  /* Apply the fadeIn animation */
  animation: fadeIn 1s ease-in-out forwards;
  /* Set the background color */
}
h1,
h2,
h3 {
  color: #404040;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

#projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#projects h2 {
  color: #343a40;
  padding: 10px 20px;
  margin: 0;
  border-radius: 5px;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 36px;
  font-weight: bold;
}
#projects h2:hover {
  background-color: #343a40;
  color: #a81616;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0.3s;
}

.col-sm-6 {
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 33.3333%;
  }
}

#about {
  background-color: #e9d67a;
  padding: 40px;
  font-family: Arial, sans-serif;
  text-align: left;
}

#about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
}

#about h2:hover {
  color: #a81616;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0.3s;
}
#about img {
  border-radius: 50%;
  border: 5px solid #343a40;
  margin-bottom: 20px;
}

#about p {
  font-size: 20px;
  line-height: 1.5;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  width: 300px;
  text-align: center;
  margin: 20px;
}

@media (max-width: 576px) {
  .skill {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .skill {
    width: 200px;
  }
}

@media (max-width: 992px) {
  .skill {
    width: 250px;
  }
}

.skill img {
  width: 60px;
  margin-bottom: 10px;
}

#skills h2 {
  color: #343a40;
  padding: 10px 20px;
  margin: 0;
  border-radius: 5px;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 36px;
  font-weight: bold;
}

#skills h2:hover {
  background-color: #343a40;
  color: #a81616;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0.3s;
}
footer{
  background-color: #343a40;
  padding: 10px;
  font-family: Arial, sans-serif;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
 #contact {
  text-align: left;
  margin: 20px;
}

#contact h2 {
  color: #343a40;
  padding: 10px 20px;
  margin: 0;
  border-radius: 5px;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 36px;
  font-weight: bold;
}

#contact h2:hover {
  background-color: #343a40;
  color: #a81616;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0.3s;
}
.contact-info {
display: flex; 
flex-direction: row;
align-items: center;
text-align: center;
margin-right: 20px;

}

.contact-info-item {
  margin-bottom: 20px;
}

form {
  display: inline-block;
  vertical-align: top;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
.social-ico{
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

}
/* #header {
  font-size: 50px;
  text-align: center;
  color: darkred;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
}
#header:hover {
  animation-name: header;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
@keyframes header {
  0% {
    font-size: 50px;
  }
  100% {
    font-size: 60px;
  }
}
#header.reverse {
  font-size: 50px;
  text-align: center;
  color: darkred;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
}
#header.reverse:hover {
  animation-name: header-reverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
@keyframes header-reverse {
  0% {
    font-size: 60px;
  }
  100% {
    font-size: 50px;
  }
}
.photo {
  margin: 50px;
  border-radius: 100%;
  border: 10px solid black;
}
.photo:hover {
  animation-name: photo;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes photo {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.container {
  position: relative;
  border-color: rgb(255, 0, 0);
  border-radius: 100%;
  background-color: yellow;
  width: 400px;
  height: 400px;
  margin: 20px;
  border: 10px solid black;
}

.eyes {
  position: absolute;
  background-color: antiquewhite;
  border: 30px green;
  width: 60px;
  height: 60px;
  border-radius: 100px 50px 100px 50px;
  top: 100px;
  left: 100px;
}
.eyes1 {
  position: absolute;
  background-color: antiquewhite;
  border: 30px green;
  width: 60px;
  height: 60px;
  border-radius: 50px 100px;
  top: 100px;
  right: 100px;
}
.mouth {
  position: absolute;
  background-color: red;
  width: 250px;
  height: 100px;
  top: 60%;
  right: 70px;
  border-radius: 20px 20px 100px 100px;
}
.mouth:hover {
  animation-name: sad;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
@keyframes sad {
  0% {
    margin-top: 178px;
    margin-left: 50px;
    width: 300px;
    height: 132px;
    border: 50px solid red;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 100%;
  }
  1% {
    border-bottom-width: 0;
    margin-top: 230px;
  }
  100% {
    border: 50px solid red;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 100%;
    margin-top: 230px;
  }
}
#eyebraw {
  background-color: black;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  border-radius: 100px;
}
#eyebraw:hover {
  top: 15px;
  right: 15px;
}
#eyebraw1 {
  background-color: black;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  left: 30px;
  top: 25px;
}
#eyebraw1:hover {
  top: 15px;
  left: 15px;
}
.bounce {
  animation: bounce 2s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-80px);
  }
  60% {
    transform: translateY(-25px);
  }
}
 */
