body {
  margin: 0;
  background: linear-gradient(45deg, #1b4c6d, #3a3237);
}
#header {
  font-size: 50px;
  text-align: center;
  color: darkred;
  font-weight: bold;
  font-family: monospace;
}
#header:hover {
  animation-name: header;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes header {
  0% {
    color: darkred;
    font-size: 50px;
  }
  25% {
    color: darkblue;
    font-size: 65px;
  }
  50% {
    color: darkgreen;
    font-size: 75px;
  }
  75% {
    color: darkorange;
    font-size: 85px;
  }
  100% {
    color: darkviolet;
    font-size: 100px;
  }
}
.photo {
  margin: 50px;
  border-radius: 100%;
  border: 10px solid black;
}
.photo:hover {
  animation-name: photo;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
@keyframes photo {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.container {
  position: relative;
  border-color: rgb(255, 0, 0);
  border-radius: 100%;
  background-color: yellow;
  width: 400px;
  height: 400px;
  margin: 50px;
  border: 10px solid black;
}

.eyes {
  position: absolute;
  background-color: antiquewhite;
  border: 30px green;
  width: 60px;
  height: 60px;
  border-radius: 100px 50px 100px 50px;
  top: 100px;
  left: 100px;
}
.eyes1 {
  position: absolute;
  background-color: antiquewhite;
  border: 30px green;
  width: 60px;
  height: 60px;
  border-radius: 50px 100px;
  top: 100px;
  right: 100px;
}
.mouth {
  position: absolute;
  background-color: red;
  width: 250px;
  height: 100px;
  top: 60%;
  right: 70px;
  border-radius: 20px 20px 100px 100px;
}
.mouth:hover {
  animation-name: sad;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
@keyframes sad {
  0% {
    margin-top: 178px;
    margin-left: 50px;
    width: 300px;
    height: 132px;
    border: 50px solid red;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 100%;
  }
  1% {
    border-bottom-width: 0;
    margin-top: 230px;
  }
  100% {
    border: 50px solid red;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 100%;
    margin-top: 230px;
  }
}
#eyebraw {
  background-color: black;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  border-radius: 100px;
}
#eyebraw:hover {
  top: 15px;
  right: 15px;
}
#eyebraw1 {
  background-color: black;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  left: 30px;
  top: 25px;
}
#eyebraw1:hover {
  top: 15px;
  left: 15px;
}
